<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PicTrace - 密碼重置連結發送成功</title>
    {% load static %}
    <link href="{% static 'css/tailwind.css' %}" rel="stylesheet" />
  </head>
  {% include "shared/navbar2.html" %}
  <body
    class="flex items-center justify-center h-screen bg-center bg-cover"
    style="background-image: url('{% static 'images/background.jpg' %}')"
  >
    <div
      class="flex flex-col justify-between w-full h-full max-w-md px-8 pt-6 pb-8 mb-4 bg-white rounded-lg shadow-md"
    >
      <!-- Header and title -->
      <div class="relative mb-4">
        <!-- Success Title -->
        <h1 class="text-2xl font-bold text-center text-gray-700">
          密碼重置連結發送成功
        </h1>
      </div>
      <!-- Success Message -->
      <div class="mb-4 text-center text-gray-700">
        <p class="text-lg">請確認您的信箱。</p>
      </div>
      <!-- Login Button -->
      <div class="mt-auto">
        <a
          href="{% url 'users:login' %}"
          class="block w-full px-4 py-2 font-bold text-center text-white bg-blue-600 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
        >
          返回登入頁面
        </a>
      </div>
    </div>
    <!-- Footer -->
    <footer
      class="absolute bottom-0 left-0 right-0 flex justify-center py-2 text-center text-white bg-black"
    >
      <p>&copy; 2025 PicTrace. All rights reserved.</p>
    </footer>
  </body>
</html>
