{% extends "shared/layout.html" %} {% block content %}{% load static %}
<div
  class="profile-header"
  style="background: url('{{ background_url|default:'/static/images/profile-background.webp' }}') center/cover no-repeat; padding: 50px 20px; text-align: center; color: white;"
>
  <div class="profile-avatar" style="display: inline-block; position: relative">
    <a
      href="{% url 'users:upload_avatar' %}"
      style="display: block; position: relative"
    >
      {% if user.profile.avatar %}
      <img
        src="{{ user.profile.avatar }}"
        alt="User Avatar"
        style="
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 3px solid white;
          transition: opacity 0.3s ease-in-out;
        "
        class="avatar-image"
      />
      {% else %}
      <img
        src="{% static 'images/user-avatar.png' %}"
        alt="User Avatar"
        style="
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 3px solid white;
          transition: opacity 0.3s ease-in-out;
        "
        class="avatar-image"
      />
      {% endif %}
    </a>
  </div>
  <h1
    style="
      margin-top: 10px;
      font-size: 24px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    "
  >
    {{ request.user.username }}
  </h1>
  <p style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">
    {{ request.user.email|lower }}
  </p>
</div>

<nav
  class="profile-nav"
  style="
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  "
>
  <a
    href="{% url 'users:profile' %}"
    style="color: black; margin: 0 15px; text-decoration: none"
    >關於</a
  >
  <a href="#" style="color: black; margin: 0 15px; text-decoration: none"
    >貼文</a
  >
  <a href="#" style="color: black; margin: 0 15px; text-decoration: none"
    >統計資料</a
  >
</nav>

<style>
  .profile-avatar {
    position: relative;
    display: inline-block;
  }

  .profile-avatar:hover .avatar-image {
    opacity: 0.5;
  }
</style>

{% block profile %}{% endblock %} {% endblock %}
